<a class="card">
    <div *ngIf="books">
        <h2>All the books we have in library</h2>
        <ul class="books">
            <li *ngFor="let book of books;let bookId=index">
                <div>
                    <span><b>Book Name:</b> {{book.name | uppercase}}</span>
                </div><br>
                <div>
                    <span><b>Book Description:</b> {{book.description}}</span>
                </div><br>
                <div>
                    <span><b>Book Price:</b> {{book.price}}</span>
                </div><br>
                <div>
                    <span><b>Book Category:</b> {{book.category}}</span>
                </div><br>
                <div>
                    <span><b>Book Creation Year:</b> {{book.createDate}}</span>
                </div><br>
                <div *ngIf="!book.isAvailable">
                    <span><b>Book is not available right now</b></span>
                </div>

                <div *ngIf="book.isAvailable">
                    <button type="button" id="buyButton-{{bookId}}" (click)="onBuy(book)">Buy</button>
                </div>
            </li>
        </ul>
    </div>
 </a>